.layout {
    background-image: url("./assets/background.png");
    width: 1024px;
    height: 600px;
    background-size: contain;
}

.layout__title {
    background: yellow;
}
.layout__inner {
    display: flex;
    background-position: center;
    background-image: url("./assets/inner-box.png");
    width: 808px;
    height: 544px;
    background-repeat: no-repeat;
    margin-left: 17px;
    padding-top: 50px;
}
.layout__left {
    width: 250px;
    height: 440px;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 44px;
    margin-left: 46px;

}
.left__inner {
    padding-left: 30px;
    padding-top: 28px;
}
.picture__inner {
    background-image: url("./assets/profile.png");
    width: 142px;
    height: 123px;
    background-repeat: no-repeat;
    background-size: contain;
}
.profile__line {
    height: 10px;
    width: 140px;
    background: white;
    border-bottom: 1px dotted black;
}
.profile__info {
    margin-top: 10px;
}
.info__text {
    display: flex;
    gap: 9.5px;
    margin-bottom: 10px;
}
.info__name > .icon {
    background-image: url("./assets/info_person.png");
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: contain;
}
.info__phone > .icon {
    background-image: url("./assets/info_call.png");
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: contain;
}
.info__email > .icon {
    background-image: url("./assets/info_mail.png");
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: contain;
}
.info__instagram > .icon {
    background-image: url("./assets/info_instagram.png");
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: contain;
}
.left__mood {
    margin-top: 125px;
}

.layout__right {
    width: 524px;
    height: 440px;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 44px;
    margin-left: 6px;
    z-index:999;
}

.layout__nav {
    width: 60px;
    height: 100px;
    margin-top: 60px;
}
.nav__button {
    width: 80px;
    height: 42px;
    margin-bottom: 2px;
    border-radius: 4px;
    border: 1px solid black;
    margin-left: -2px;
    font-size: 18px;
    color: white;
    backgroud-color: #298EB5;
}
.nav__button:focus {
    background-color: #fff;
    color: black;
}

.home {
    margin-top: 40px;
    margin-left: 30px;
}
.home__title {
    font-size: 18px;
    font-weight: 700;
    color: blue;
}
.news__line {
    width: 200px;
    height: 5px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.home__top {
    display: flex;
    gap: 20px;
}
.diary__item {
    font-size: 15px;
    margin-bottom: 5px;
}
.news__diary-list .diary__item::before {
    content:'다이어리';
    font-size: 8px;
    background-color: #EE3E61;
    margin-right: 8px;
    padding: 3px;
    border-radius: 2px;
    color: #fff;
    margin-top: 5px;
}

.game__inner {
    padding: 30px;
}
.game__item {
    width: 222px;
    height: 168px;
    background-color: #f6f6f6;
    border: 1px solid #999;
    border-radius: 10px;
}
.game__title {
    font-size: 16px;
    font-weight: 700;
}
.game__describe {
    font-size: 14px;
}

.diary__inner {
    padding: 30px;
}
.diary__list {
    height: 350px;
    overflow-y: scroll;
}

.diary__list .diary__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    margin: 15px 0;
    background-color: #DDD;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 4px;
}

.diary__item .item__left {
    padding: 10px;
}

.diary__item .diary__created-at {
    display: inline-block;
    background-color: #55B2D4;
    padding: 3px;
    margin-bottom: 5px;
}

.diary__item .diary__title:before {
    content: "제목 : "
}

.diary__detail {
    padding: 30px;
}

.detail__created-at {
    display: inline-block;
    font-size: 18px;
    margin-bottom: 10px;
}

.detail__title {
    font-size: 18px;
    font-weight: 700;
}

.detail__contents {
    font-size: 16px;
}